<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Garment</title>
  </head>
  <body>
    <h1>Create Garment</h1>
    <form action="/garments" method="post">
      <label for="name">Nama</label>
      <input type="text" name="name" placeholder="Nama" />
      <label for="contact">Contact</label>
      <input type="text" name="contact" placeholder="Contact" />
      <label for="location">Lokasi</label>
      <input type="text" name="location" placeholder="Lokasi" />
      <button type="submit">Create</button>
    </form>
  </body>
</html>
