<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Garments</title>
  </head>
  <body>
    <h1>All Garments</h1>
    <p style="color: green">Custom Flash Message: <%= message %></p>
    <p style="color: green">General Flash Message: <%= flashMessage %></p>
    <a href="/garments/create">Create Garment</a>
    <ol>
      <% garments.forEach(garment => { %>
      <li><a href="/garments/<%= garment._id %>"><%= garment.name %></a></li>
      <% }) %>
    </ol>
  </body>
</html>
